.tela3 {
    background-color: rgb(201, 238, 201);
}

.grade {
    margin-left: 2%;
    padding: 1%;
     
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px!important;
}
.menu-principal2 {
    width: 100%;
    background-color:#ffffff;
   
}
main, .content {
    width: 1400px;
    float: left;
    position: relative;
}
.logo {
    float: left;
    padding: 3px;
    width: 40%;
}    
.redes-sociais2 ul li {
    margin-left: 10px;
    display: inline-block;
    float: right;
    list-style: none;
}
.redes-sociais2 {
    width: 40%;
    float: right;
    padding: 16px;

}
.header-4 {
    width: 1400px;
    margin: 0 auto;
    border-top: 2px solid;
    border-color: blueviolet;
    padding: 12px;
}

.col-101 {
    width: 100%;
    float: left;
    position: relative;
}
.menu ul li {
    display: inline-block;
    margin-left: 55px;
    height: 50px;
}

.menu ul li:hover {
    border-bottom: 2px solid #00bac6;
}

.menu ul li a:hover {
    color: #00bac6;
 }
.menu ul li a {
    color: darkslategrey;
    text-decoration: none;
    font-size: 19px;
    margin-left: 10px;
}
.menu {
    width: 60%;
    float: left;
}
.busca2 {
    text-align: center;
    width: 30%;
    float: right;
    padding: 12px;
}
.busca input {
    background-image: url('../img/search_01.png');
    background-repeat: no-repeat;
    background-position: 95%;
    border: 2px solid darkgrey;
    height: 32px;
    padding: 12px;
    width: 190px;
}
input::placeholder {
    color:darkgrey;
}
.col-101 {
    width: 100%;
    float: left;
    position: relative;
}